@import "./reset.css";

/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";
@import "./DropdownMenu.css";
@import "./ContextMenu.css";
@import "./Dialog.css";

body {
  background-color: var(--surface-2);
}

.container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--size-1);
  height: 100vh;
}

.header {
  grid-column: 2;
  display: flex;
  gap: var(--size-2);
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;

  .header-left {
    display: flex;
    gap: var(--size-2);

    button {
      padding: var(--size-2);
      line-height: 1;
    }
  }

}

.user-dirs {
  .selected {
    background-color: var(--surface-3)
  }
}

.list-view-list,
.user-dirs {
  list-style: none;
  padding: var(--size-1) var(--size-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-1);

  li {
    display: grid;
    grid-template-columns: var(--size-6) 1fr;
    gap: var(--size-2);
    border-radius: var(--radius-1);
    align-items: center;
    height: var(--size-7);

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.selected {
      background-color: var(--surface-3)
    }
  }
}

.list-view {
  background-color: var(--surface-1);
  overflow-y: scroll;
}

.container *:not(:active):focus-visible {
  outline-offset: 1px;
}