@import "./reset.css";

/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

body {
  background-color: var(--surface-2);
}

.container {
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--size-1);
  height: 100vh;
}

.header {
  grid-column: 2;
  display: flex;
  justify-self: center;
  gap: var(--size-2);
  align-items: center;
  padding: 0.5rem;

  button {
    padding: var(--size-2);
    line-height: 1;
  }
}

.user-dirs li {
  display: flex;
  gap: var(--size-1)
}

.list-view-list,
.user-dirs {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: var(--size-1)
}

.list-view {
  background-color: var(--surface-1);
  overflow-y: scroll;
}

.list-view-list li {
  display: flex;
  gap: var(--size-2);
}